div#overlay
.container
        fieldset.bars(data-width="308" data-height="332" data-cols="4" data-min="0" data-max="127")
            input(value=90)
            input(value=40)
            input(value=20)
            input(value=70)
        div#redbar
        p#bpm 
        div#fxselect
            div.fxbuttons#fx1 FX1
            div.fxbuttons#fx2 FX2
        div#trackselect Select Track
footer.site-footer
    div#footerbtn
        button(class="button-warning pure-button flashingbutton") Flashing
        button(class="button-warning pure-button settingsbutton") Settings
    p#lefttext NOT CONNECTED
    p#righttext WebMIDI v0.1
script(type="text/javascript", src="/javascripts/jquery.min.js")
script(type="text/javascript", src="/javascripts/jquery.kontrol.js")
script(type="text/javascript", src="/javascripts/pulse.js")
script(type="text/javascript", src="/javascripts/socket.js")
script(type="text/javascript", src="/javascripts/custom.js")