div#overlay
#container
    
    div
        fieldset.pad(data-width='800' data-height='800')
                    input(name='x' value='27')
                    input(name='y' value='80')
script(type="text/javascript", src="/javascripts/jquery.min.js")
script(type="text/javascript", src="/javascripts/jquery.kontrol.js")
script(type="text/javascript", src="/javascripts/pulse.js")
script(type="text/javascript", src="/javascripts/custom.js")