doctype
html
  head
    title webMIDI
    link(rel='stylesheet', href='/stylesheets/toggles.css')
    link(rel='stylesheet', href='/stylesheets/toggles-soft.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
  body(oncontextmenu="return false")!= body
