/* =Normalize
----------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
}
.dial{
    display: none;
}

.bars{
    display: none;
}

.settingsbutton{
    z-index: 11;
}


#xy{
	/*
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  
  background-image: url('/images/xy.png');
  background-repeat:no-repeat;
   background-size:100% 100%;*/
} 

.buttonrow{
    width: 100%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.buttonrow:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.buttonrow > div {
    height: 50px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.fieldsetcontainer{
  overflow: hidden;
  border-bottom: 2px #fff solid;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.innerpadding{
    padding-left: 10px;
padding-right: 10px;
}

.buttonrow2 {
    border: 2px dashed #444;
    height: 125px;
    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

}

.buttonrow2 > div {
    width: 150px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.buttonrow2:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.fxbuttons{
    margin-top: 10px;
    float: left;
    width: 48%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    height: 50px;
    border: 2px solid #fff;
    line-height: 50px;
    cursor: pointer;
}

.quartbutton{
	margin-bottom: 10px;
    width: 70px;
    float: left;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    border: 2px solid #fff;
    line-height: 50px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.buttonspacer{
    width:8px;
    float:left;
    height: 50px;
}

.halfbutton{
    margin-bottom: 10px;
    float: left;
    width: 46%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    height: 50px;
    border: 2px solid #fff;
    line-height: 50px;
    cursor: pointer;
    
}



.menubutton{
    text-transform:uppercase;
    margin-top: 5px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 50px;
}

#buttongroup{
    display: inline-block;
    z-index: 11;
}

#fx1{
    float: left;
    -webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-top-width: 0;
}
#fx2{
    float: left;
    -webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 5px;
	border-top-width: 0;
}


.clear { clear: both; }

#settings{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: #262626;
    display: none;
}

#settings>p{
    float: left;
}

#footerbtn{
    width: 100%;
    z-index: 11;
}

.footerbuttons{
    height: 100px;
    border-right-width: 1px;
    border-left-width: 1px;
}

article, aside, details, figcaption, figure, footer, 
header, hgroup, nav, section, summary{
 display:block}
div#redbar{
    margin-top: 10px;
    background-color: red;
    height: 2px;
    width: 100%;
}
audio, 
canvas, 
video{
 display:inline-block; 
 *display:inline; 
 *zoom:1}

audio:not([controls]){
 display:none; 
 height:0}

[hidden]{
 display:none}

html{
 font-size:100%; 
 -webkit-text-size-adjust:100%; 
 -ms-text-size-adjust:100%;
  margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
#overlay {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0;
}

#lc {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    vertical-align: middle;
    text-align: center;
    color: red;
    padding-top: 200px;
    background: #262626;
}

p#bpm{
    font-size: 20px;
    letter-spacing: 2px;
    color: #F9FC8B;
}

canvas { display:block; }

html, body { width:100%; height:100%; }

html, 
button, 
input, 
select, 
textarea{
 font-family:sans-serif}

body{
 margin:0
 -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}

a:focus{
 outline:thin dotted}

a:hover, 
a:active{

 outline:0
 color: #C47300;

}

h1{
 font-size:2em; 
 margin:0.67em 0}

h2{
 font-size:1.5em; 
 margin:0.83em 0}

h3{
 font-size:1.17em; 
 margin:1em 0}

h4{
 font-size:1em; 
 margin:1.33em 0}

h5{
 font-size:0.83em; 
 margin:1.67em 0}

h6{
 font-size:0.75em; 
 margin:2.33em 0}

abbr[title]{
 border-bottom:1px dotted}

b, 
strong{
 font-weight:bold}

blockquote{
 margin:1em 40px}

dfn{
 font-style:italic}

mark{
 background:#ff0; 
 color:#000}

p, 
pre{
 margin:8px 0}

pre, 
code, 
kbd, 
samp{
 font-family:monospace,serif; 
 _font-family:'courier new',monospace; 
 font-size:1em}

pre{
 white-space:pre; 
 white-space:pre-wrap; 
 word-wrap:break-word}

q{
 quotes:none}

q:before, 
q:after{
 content:''; 
 content:none}

small{
 font-size:75%}

sub, 
sup{
 font-size:75%; 
 line-height:0; 
 position:relative; 
 vertical-align:baseline}

sup{
 top:-0.5em}

sub{
 bottom:-0.25em}

dl, 
menu, 
ol, 
ul{
 margin:0}

dd{
 margin:0 0 0 40px}

menu, 
ol, 
ul{
 padding:0}

nav ul, 
nav ol{
 list-style:none; 
 list-style-image:none}

img{
 border:0; 
 -ms-interpolation-mode:bicubic}

svg:not(:root){
 overflow:hidden}

figure{
 margin:0}

form{
 margin:0}

fieldset{
 border:1px solid #c0c0c0; 
 margin:0 2px; 
 padding:0.35em 0.625em 0.75em}

legend{
 border:0; 
 padding:0; 
 white-space:normal; 
 *margin-left:-7px}

button, 
input, 
select, 
textarea{
 font-size:100%; 
 margin:0; 
 vertical-align:baseline; 
 *vertical-align:middle}

button, 
input{
 line-height:normal}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"]{
 cursor:pointer; 
 -webkit-appearance:button; 
 *overflow:visible}

button[disabled], 
input[disabled]{
 cursor:default}

input[type="checkbox"], 
input[type="radio"]{
 box-sizing:border-box; 
 padding:0; 
 *height:13px; 
 *width:13px}

input[type="search"]{
 -webkit-appearance:textfield; 
 -moz-box-sizing:content-box; 
 -webkit-box-sizing:content-box; 
 box-sizing:content-box}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button{
 -webkit-appearance:none}

button::-moz-focus-inner, 
input::-moz-focus-inner{
 border:0; 
 padding:0}

textarea{
 overflow:auto; 
 vertical-align:top}


:-moz-placeholder{
 color:#a9a9a9}


:focus::-webkit-input-placeholder{
 color:transparent}

table{
 border-collapse:collapse; 
 border-spacing:0}

 /* =Controller
 -------------------------------------------------------------- */

 #tab4{
 	
 }

body {
    /*background: linear-gradient(135deg, #dc80ed 0%,#eaba4b 100%); */
    background: linear-gradient(135deg, #504A51 0%,#302424 100%);
    background: #262626;
    /*background-image: url("/images/noisy_net.png"); */
    background-repeat: repeat;
    color:#f4f4f4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

a,a:visited {
    color:gold;
}

.settingsitem{
    width: 100%;
    float: left;
    background-color: #222222;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
.settingsitem>p{
    padding-left: 18px;
    width: 220px;
    float:left;
    margin-top: 16px;
}
.settingsitem>div{
    float:left;
    margin-top: 15px;
}

.tabs{
    width: 100%;
    list-style-type: none;
}

.tabs>li{
    float:left;
    border: 2px solid #fff;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.activetab{
    background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
.active{
    background: #ff3019; /* Old browsers */
    /*
background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
.tabs>li>a>img{
    width:32px;
    height: 32px;
    padding: 8px;
      padding-top: 12px;

}

.container {
    width:308px;
    min-height: 87%;
    margin-bottom: 30px;
    margin:0 auto;
}

.container:after {
  content: "";
  display: block;
}

.site-footer, .container:after{

  height: 30px; 
}

.site-footer{
    font-size: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#controller {
    display: none;
}

.container ul {
    list-style:none;
    overflow: hidden;
    clear:both;
    display: inline-block;
}

#controller li:last-child {
    margin-right:0
}

.button {
    width:200px;
    height:200px;
    float:left;
    margin-right:30px;
}

.button a {
    float:left;
    display:block;
    color:white;
    width:100%;
    height:100%;
    text-decoration:none;
    display: inline-table;  
    text-align:center;  
    background:darkgoldenrod;
}

.button a#record {
    background:brown;
}

.button span {
    display: table-cell;
    vertical-align:middle;
    text-align:center;  
}

.button a:hover {
    font-weight:bold;
    background: goldenrod;
}

.button a:active {
    font-weight:bold;
    background: lightgreen;
}

.button.active {
    font-weight:bold;
    background: green;
}


small {
    margin-top:30px;
    clear:both;
    display: block;
}

.toggle-on{
    width: 32px;
}

#container {

    border: 2px dashed #444;
    height: 125px;
    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    
}

.swipearea{
    height: 500px;
    width: 100%;
    background-image: url(/images/scroll.png);
  	background-attachment: fixed;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-size: 100px 400px;
  	transition: background 0.3s linear;
}

.box1, .box2, .box3, .box4 {
    width: 40px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#deck1, #deck2{
	margin-top: 12px;
}

.box1, .box3 {
    background: #ccc
}
.box2, .box4 {
    background: #0ff
}
#leftfooter{
	border-left-width:0;
}
#rightfooter{
	border-right-width:0;
}
#fx1, #fx3, #halfloop, #deck1, .leftside{
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

border-left-width: 0;
}



#fx2, #fx4, #doubleloop, #deck2, .rightside{
	-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right-width: 0;
}

.buttonrow{
	height: 195px;
}

#halfloop, #doubleloop, #fx1, #fx2{
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	border-top-width: 0;
}

